@charset "utf-8";
/* ==========================================================================
 Header
========================================================================== */
.l-header{
  padding: 20px 10px;
  &_ttl{
    font-weight: var(--fw-bold);
    position: relative;
    color: var(--clr-blue);

    &::before{
      content: "</>";
      background: var(--clr-blue);
      color: var(--clr-white);
      border-radius: 50px;
      padding: .6em .4em;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: $break-point-sp) {
  .l-header{
  }
}
